<ion-header class="k-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoInicio()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">{{ nombreReto }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="reset()">
      <ion-icon name="arrow-undo"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-label class="available-markers-label">{{ availableMarkers }}</ion-label>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="map-wrapper"> 
      <div #map class="map"></div>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border k-footer">
  <form #form="ngForm" novalidate>
  <ion-grid class="controls">
    <ion-row class="k-subtitle">
      <ion-col size="12" class="ion-text-center">
        <ion-label>Distancia</ion-label>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="12" class="ion-text-center k-value">
        {{ distance }} km
      </ion-col>
    </ion-row>   
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-label>Horas</ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-label>Minutos</ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-label>Segundos</ion-label>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-input name="h" min="0" max="24" clear-input="true" [(ngModel)]="duracion.horas" type="number" required #hora="ngModel" [class.is-invalid]="hora.invalid"></ion-input>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-input name="m" min="0" max="60" clear-input="true" [(ngModel)]="duracion.minutos" type="number" required #minuto="ngModel" [class.is-invalid]="minuto.invalid"></ion-input>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-input name="s" min="0" max="60" clear-input="true" [(ngModel)]="duracion.segundos" type="number" required #segundo="ngModel" [class.is-invalid]="segundo.invalid"></ion-input>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" color="primary" [disabled]="form.invalid" (click)="presentarAlertaGuardado()()">Guardar</ion-button>
      </ion-col>
    </ion-row> 

  </ion-grid> 
</form>
</ion-footer>