ion-item{
    --background: #f50b0b;
    --color: #fff;
    border-radius: 20px;
  }

ion-button{
    --background: #0b63fc;
  }

a{
    color: #fff;
  }

ion-input {
    text-align: center;
  }

form{
  position:relative;
  top:20%;
}
h1 { 
  color: #f7e012;
  font-family: 'Trocchi', serif;
  font-size: 50px; font-weight: normal;
  line-height: 48px; margin: 0;
  top:10%;
}


