ion-button{
    background: #0b63fc;
    --background-activated: #b0f000;
  }

a{
    color: #fff;
  }

ion-input {
    text-align: center;
  }

form{
  position:relative;
  top:30%;
}
h1 { 
  color: #f7e012;
  font-family: 'Trocchi', serif;
  font-size: 50px; font-weight: normal;
  line-height: 48px;
  top:40%;
}

ion-item{
  --background: #fa0000;
  --color: #fff;
  --highlight-height: 2px;
  border-radius: 20px;
}

.toast-k{
  --background: #00f5d4;
  --color: rgb(19, 2, 2);
  --text-align: center;
}

