<div class="row name">
	<mat-card class="example-card " *ngFor="let carrera of carreras" >
		<div >
  <mat-card-header >
    <mat-card-title  >
    	<h4>{{carrera.nombre}}</h4></mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button type="button" class="btn  but" (click)="actualiza(inscripcion.id,inscripcion.reciboPago)" >
	Reporte de participantes
	</button>
    <button type="button" class="btn  but" (click)="eliminar(inscripcion.id,inscripcion.reciboPago)" >
	Reporte de posiciones
	</button>
  </mat-card-actions>
  </div>
    
</mat-card>

</div>