<!-- MAIN NAV-->
<div class=" container-fluid d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 ">
<h1 class="head my-0 mr-md-auto font-weight-normal">
   <img height="50px" src="assets/logo.svg"> 
 </h1>
  <nav class="my-2 my-md-0 mr-md-3">

    
    <a routerLink="" class="p-2 text-white" href="#">Organizador</a>
    <a routerLink="" routerLinkActive="acive" class="p-2 text-white" href="#">Publico General</a>
    

  </nav>
</div>
<!--HERE WE DISPLAY THE VIEWS (ADMIN, PRODUCT, CLIENT)-->
<div class="divPrin">
<router-outlet></router-outlet>
</div>

