/*---------------------------------------ESTILOS PARA EL MENU LATERAL----------------------------------------------*/
.menuLateral{
    position: relative;
    top: 0vh;
    left: -35vw;
    height: 100vh;
    width: 30vw;
    align-self:center;
    background-color: #ff5100;
    border-right: 2px solid black;
}

.contenedor{
    position: absolute;
    top: 0px;
    left: 30vw;
    height: 100vh;
    width: 70vw;
    background: rgba(90.2, 96.9, 99.6, 0.6);
  }


.fotoDePerfilUsuario{
    position: relative;
    border-radius: 50%;
    top: 20px;
    left: 27%;
    width: 13vw;
    height: 26vh;
}

.textoNombreDelUsuario{
    text-align: center;
    position:relative;
    top:25px;
    color: white;
    font-size: xxx-large;
}

.textoNombreDeUsuario{
    text-align: center;
    position:relative;
    top:15px;
    color: white;
    font-size: xx-large;
}

.botonRegistrarActividad{
    position: relative;
    border-radius: 10px;
    font-size: larger;
    top: 6%;
    left: 17%;
    width: 250px;
    background-color: gray;
    color: white;
}

.botonSeguirDeportistas{
    position: relative;
    border-radius: 10px;
    font-size: larger;
    top: 8%;
    left: 17%;
    width: 250px;
    background-color: gray;
    color: white;
}

.botonBuscarCarrerasRetos{
    position: relative;
    border-radius: 10px;
    font-size: larger;
    top: 10%;
    left: 17%;
    width: 250px;
    background-color: gray;
    color: white;
}

.botonBuscarGrupos{
    position: relative;
    border-radius: 10px;
    font-size: larger;
    top: 12%;
    left: 17%;
    width: 250px;
    background-color: gray;
    color: white;
}

.botonMisCarrerasRetos{
    position: relative;
    border-radius: 10px;
    font-size: larger;
    top: 12%;
    left: 17%;
    width: 250px;
    background-color: gray;
    color: white;
}

.logo{
    position:relative;
    border-radius: 50%;
    top:24%;
    left:-26%;
    width: 20%;
    cursor: pointer;
}

.fondoDePantalla{
    position: absolute;
    top: 0px;
    left: 30vw;
    height: 100vh;
    width: 70vw;
}

.iconoModificar{
    position: relative;
    cursor: pointer;
    width: 3.5vw;
    top: -420px;
    left: -330px;
}


/*------------------------------------------ESTILOS PARA LOS INPUT------------------------------------------------*/
.inputGrupo{
    position: absolute;
    border-radius: 10px;
    border-color: black;
    text-align: center;
    width: 45vw;
    height: 8vh;
    top: 30px;
    left: 40px;
}
/*------------------------------------------ESTILOS PARA LOS BOTONES----------------------------------------------*/
.botonBuscar{
    position: absolute;
    border-radius: 10px;
    width: 20vw;
    height: 8vh;
    top: 30px;
    left: 670px;
    font-size: x-large;
    background-color: #ff5700;
    color: white;
}

/*-------------------------------------ESTILOS PARA LAS FICHAS DE GRUPOS-------------------------------------------*/
#gruposEncontrados{
    position: absolute;
    top: 115px;
    left: 0px;
    height: 82.5%;
    width: 70vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}

.fichaGrupo{
    display: inline-flex;
    background: rgba(90.2, 96.9, 99.6, 0.8);
    height: 20vh;
    width: 68.5vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.textoNombreGrupoEncontrado{
    position: relative;
    top: 25px;
    left: 20px;
    width: 300px;
    color: black;
    font-size: xx-large;
    white-space: nowrap;
}

.textoAdministradorGrupoEncontrado{
    position: relative;
    top: 25px;
    left: 20px;
    width: 300px;
    color: black;
    font-size: x-large;
    white-space: nowrap;
}

.botonUnirse{
    position: relative;
    border-radius: 10px;
    width: 25vw;
    height: 11vh;
    top: 25px;
    left: 240px;
    font-size: xx-large;
    background-color: #ff5700;
    color: white;
    border-color: black;
}
