.map {
    width: 100%;
    height: 100%;
    border: 3px solid #e90a0ad3;
    border-radius: 10px;
  
  }
   
  .map-wrapper {
  position: relative;
  height: 100%;
  }
  
  ion-label{
  color: #e90a0ad3;
  }
  ion-input{
  background: #e90a0ad3;
  border: 2px solid white;
  border-radius: 25px;
  }
  ion-button{
  border-radius: 25px;
  }
  ion-content{
  background: black;
  }
  .available-markers-label{
    color: #f1f508d3;
    font-size: 25px
  }
  .k-subtitle{
    font-size: 25px;
  }
  .alerta-k{
    background: #979b67;
  }
  .k-value{
    color: #ffffff;
  }
  .k-footer{
    background: #000000;
  }

  ion-select {
    /* Applies to the value and placeholder color */
     background: #e90a0ad3;
  
    /* Set a different placeholder color */
    --placeholder-color: #971e49;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
    border: 2px solid white;
    border-radius: 25px;
  }