<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="actividadLibreClick()">
      <ion-icon name="duplicate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
<ion-content>
  <ion-segment [(ngModel)]="selectedView">
    <ion-segment-button value="retos">
      <ion-label>Retos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="carreras">
      <ion-label> Carreras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="actividadesLibres">
      <ion-label>Actividades</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'retos'">
 
      <ion-list>
        <ion-item  *ngFor="let dr of deportistasReto">
          <ion-grid class="mis-items">
            <ion-row>
              <ion-col size="10" class="ion-text-start dep-titulo">
                {{ dr.NombreActividad }}
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <ion-button fill="clear" (click)="sincronizarReto(dr)">
                  <ion-icon name="cloud-upload" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Reto: 
              </ion-col>
              <ion-col size="4" class="ion-text-start dep-valor">
                {{ dr.NombreReto }}
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-button fill="clear" (click)="eliminarReto(dr)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Distancia: 
              </ion-col>
              <ion-col size="8" class="ion-text-start dep-valor">
                {{ dr.Distancia }} km
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Duración: 
              </ion-col>
              <ion-col size="8" class="ion-text-start dep-valor">
                {{ dr.Duracion }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Fecha: 
              </ion-col>
              <ion-col size="8" class="ion-text-start dep-valor">
                {{ dr.FechaHora }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'carreras'">
      <ion-list>
        <ion-item *ngFor="let dc of deportistasCarrera">
          <ion-grid class="mis-items">
            <ion-row>
              <ion-col size="10" class="ion-text-start dep-titulo">
                {{ dc.NombreActividad }}
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <ion-button fill="clear" (click)="sincronizarCarrera(dc)">
                  <ion-icon name="cloud-upload" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Carrera: 
              </ion-col>
              <ion-col size="4" class="ion-text-start dep-valor">
                {{ dc.NombreCarrera }}
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-button fill="clear" (click)="eliminarCarrera(dc)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Duracion: 
              </ion-col>
              <ion-col size="6" class="ion-text-start dep-valor">
                {{ dc.Duracion }} 
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Fecha: 
              </ion-col>
              <ion-col size="8" class="ion-text-start dep-valor">
                {{ dc.FechaHora }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'actividadesLibres'">
      <ion-list>
        <ion-item *ngFor="let dal of deportistasActividadLibre">
          <ion-grid class="mis-items">
            <ion-row>
              <ion-col size="10" class="ion-text-start dep-titulo">
                {{ dal.NombreActividad }}
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <ion-button fill="clear" (click)="sincronizarActividadLibre(dal)">
                  <ion-icon name="cloud-upload" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Distancia: 
              </ion-col>
              <ion-col size="4" class="ion-text-start dep-valor">
                {{ dal.Distancia }} km
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-button fill="clear" (click)="eliminarActividadLibre(dal)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Duracion: 
              </ion-col>
              <ion-col size="6" class="ion-text-start dep-valor">
                {{ dal.Duracion }} 
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Fecha: 
              </ion-col>
              <ion-col size="8" class="ion-text-start dep-valor">
                {{ dal.FechaHora }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-start dep-subtitulo">
                Actividad: 
              </ion-col>
              <ion-col size="8" class="ion-text-start dep-valor">
                {{ dal.TipoActividad }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

  </div>
 
</ion-content>
    </ion-slide>

    <ion-slide>
      
      <ion-content>
        <ion-header>
          <ion-toolbar>
            <ion-title>Retos disponibles</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="loadRetos()">
                <ion-icon name="cloud-download" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let reto of listaRetos">
      
              <ion-card class="ion-margin" (click)="retoClick(reto.nombre, reto.admindeportista, reto.tipoactividad)">
                <ion-card-header class="k-header2">
                    <ion-row class="k-title">
                      <ion-col size="12" class="ion-text-center">
                        {{ reto.nombre }}
                      </ion-col>
               
                    </ion-row>
        
                </ion-card-header>
                <ion-card-content class="k-description">
                  <p><strong>{{ reto.descripcion }}</strong></p>
                </ion-card-content> 
                <ion-footer>
                  <ion-row class="k-subtitles">
                    <ion-col size="4" class="ion-text-center">
                      <ion-label>actividad</ion-label>
                    </ion-col>
                    <ion-col size="4" class="ion-text-center">
                      <ion-label>km totales</ion-label>
                    </ion-col>
                    <ion-col size="4" class="ion-text-center">
                      <ion-label>modalidad</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row class="k-values">
                    <ion-col size="4" class="ion-text-center">
                      <ion-label>{{ reto.tipoactividad }}</ion-label>
                    </ion-col>
                    <ion-col size="4" class="ion-text-center">
                      <ion-label>{{ reto.kmtotales }} km</ion-label>
                    </ion-col>
                    <ion-col size="4" class="ion-text-center">
                      <ion-label>{{ reto.fondoaltitud }}</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row class="k-periodo" no-padding>
                    <ion-col size="12" class="ion-text-center">
                        Disponible hasta : {{ reto.periododisponibilidad }}
                    </ion-col>
                  </ion-row>
                </ion-footer>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content>
        <ion-header>
          <ion-toolbar>
            <ion-title>Carreras disponibles</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="loadCarreras()">
                <ion-icon name="cloud-download" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let carrera of listaCarreras">
      
              <ion-card class="ion-margin" (click)="carreraClick(carrera.nombre, carrera.admindeportista, carrera.tipoactividad)">
                <ion-card-header class="k-header2">
                    <ion-row class ="k-title">
                      <ion-col size="12" class="ion-text-center">
                        {{ carrera.nombre }}
                      </ion-col>
                    </ion-row>
        
                </ion-card-header>
                <img src="assets/imagenes/carrera-logo.png" alt="ion" width="100%" height="100px">
                <ion-card-content>
                  <ion-row class="k-subtitles">
                    <ion-col size="6" class="ion-text-center">
                       Fecha
                    </ion-col>
                    <ion-col size="6" class="ion-text-center">
                       Actividad
                    </ion-col>
                  </ion-row>
                  <ion-row class="k-values">
                    <ion-col size="6" class="ion-text-center">
                      <ion-label>{{ carrera.fecha }}</ion-label>
                    </ion-col>
                    <ion-col size="6" class="ion-text-center">
                      <ion-label>{{ carrera.tipoactividad }}</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
  
  </ion-slides>
</ion-content>