<div class="row name">
	<mat-card class="example-card " *ngFor="let inscripcion of inscripciones" >
		<div >
  <mat-card-header >
    <mat-card-title  >
    	<h4>{{inscripcion.usuariodeportista}}</h4></mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <img class="recibo" src="{{inscripcion.reciboPago}}" />
    <p>Carrera: {{ inscripcion.nombrecarrera}}
      </mat-card-content>
   
  <mat-card-actions>
    <div>
    <button type="button" class="btn  but" (click)="actualiza(inscripcion)" >
	Aceptar
	</button>
    <button type="button" class="btn  but" (click)="eliminar(inscripcion)" >
	Denegar
	</button>
</div>
  </mat-card-actions>
  </div>
    
</mat-card>

</div>